.main {
    flex: 1;
  }
  .bg-dark {
    background-color: #12002b;
    height: 100vh;
    padding-top: 70px;
    
  }

  .sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
  
  .sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 400px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 4rem;
  }
  
  .sign-in-icon {
    font-size: 5rem;
  }


  form {
    position: relative;
    .error-message {
      position: absolute;
      color: red;
      font-weight: bold;
      left:20%;
    }
  }

  
