.main {
    flex: 1;
  }
  
  .bg-dark {
    background-color: #12002b;
    height: 100vh;
  }

  .edit {
    color: #fff;
    margin-bottom: 2rem;
    &__button {
      border-color: #00bc77;
      background-color: #00bc77;
      color: #fff;
      font-weight: bold;
      padding: 10px;
    }
  }
  
